<!DOCTYPE html>
<html>

<head>
<title>Our Walmart {{=response.title}}</title>
</head>

<body>

	{{include 'default/top-nav.html'}}

	<div class="lesson">
		<section>
		    <span>snippet here</span>
		    <div class="button button-active">Next</div>
		</section>
		<section>
		    <span>snippet here</span>
		    <div class="button button-active">Next</div>
		</section>
		<section>
		    <span>snippet here</span>
		    <div class="button button-active">Next</div>
		</section>
		<section>
		    <span>snippet here</span>
		    <div class="button button-active">Next</div>
		</section>
		<section class="question">
		    <span>snippet here</span>
		    <div class="button button-active">Next</div>
		</section>
	</div>

</body>
</html>